In [4]:
class Team():
    
    f_name = None
    l_name = None
    
    def __init__(self):
        self.f_name = ""
        self.l_name = ""
        
    def __init__(self, f: str, l: str):
        self.f_name = f
        self.l_name = l
        
    def set_first_name(self, f: str) -> None:
        self.f_name = f
        
    def get_full_name(self) -> str:
        return self.f_name + self.l_name

In [5]:
t = Team()

TypeError: __init__() missing 2 required positional arguments: 'f' and 'l'

In [6]:
class Person:
    
    kingdome = "Animal"
    
    def __init__(self, full_name, age, designation, salary):
        self.full_name = full_name
        self.age = age
        self.designation = designation
        self.salary = salary
        
    def print__details(self):
        details = f"\nName : {self.full_name}\t Age : {self.age}\n"+\
                    f"Designation : {self.designation}\tSalary : {self.salary}\n"
        print(details)

In [7]:
kik = Person("James Kirk", 34, "Captain", 2265)

In [8]:
kik.print__details()

Name : James Kirk	 Age : 34
Designation : Captain	Salary : 2265

In [9]:
Person.kingdome

'Animal'

In [10]:
Person.print__details(kik)

Name : James Kirk	 Age : 34
Designation : Captain	Salary : 2265

In [11]:
class Dog:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __str__(self):
        return f"{self.name} is {self.age} years old"

In [15]:
x = Dog("buddy", 1)

In [17]:
print(x.__dict__)

{'name': 'buddy', 'age': 1}

In [18]:
def fun(*args, **kwargs):
    print(args)
    print(kwargs)

In [20]:
fun([1,2,3], a=1, b=4)

([1, 2, 3],)
{'a': 1, 'b': 4}

In [21]:
float(2.3)

2.3

In [22]:
"Hello"[0]

'H'

In [23]:
x = "Hello"
x.upper()

'HELLO'

In [24]:
x.replace("l", "k")

'Hekko'

In [25]:
x

'Hello'

In [26]:
tp1 = (1,2,3)

In [27]:
tp1

(1, 2, 3)

In [33]:
tp1.__sizeof__()

48

In [34]:
l1 = [1,2,3]

In [35]:
l1.__sizeof__()

64

In [36]:
l1 = [1,2,3,4,5,1,2,1]

In [37]:
l1.remove(1)

In [38]:
l1

[2, 3, 4, 5, 1, 2, 1]

In [39]:
l1.sort(reverse=True)

In [40]:
l1

[5, 4, 3, 2, 2, 1, 1]

In [41]:
l1.sort()

In [44]:
l2 = l1

In [45]:
l1

[1, 1, 2, 2, 3, 4, 5]

In [46]:
l2

[1, 1, 2, 2, 3, 4, 5]

In [47]:
l2[3] = 4555

In [48]:
l1

[1, 1, 2, 4555, 3, 4, 5]

In [49]:
l2 = l1.copy()

In [50]:
l2[4] = 0

In [51]:
l1

[1, 1, 2, 4555, 3, 4, 5]

In [52]:
l2

[1, 1, 2, 4555, 0, 4, 5]

In [54]:
tp1.append(4)

AttributeError: 'tuple' object has no attribute 'append'